.button {
  @apply .font-serif .text-lg .text-black .p-4 .border .border-black .inline-block .relative;
}

.button:before {
  content: '';
  @apply .bg-black .absolute .w-0 .pin-t .pin-l .h-full;
  transition: all 150ms linear;
  z-index: -1;
}

.button:hover {
  @apply .text-grey-lighter;
}

.button:hover:before {
  @apply .w-full;
}
