@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: calc(104px + 8px);
  }

  @media (max-width: 640px) {
    :root {
      --header-height: calc(144px + 8px);
    }
  }
}

@layer components {
  .text-color {
    @apply text-slate-700;
  }

  .text-color-secondary {
    @apply text-slate-500;
  }

  .text-color-emphasis {
    @apply text-slate-900;
  }

  .heading-2 {
    @apply text-2xl font-semibold font-title;
  }

  .link {
    @apply underline text-color-emphasis;
  }
}

.home-content {
  p {
    @apply mb-2 leading-relaxed text-color;
  }

  strong {
    @apply text-color-emphasis;
  }

  :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
    @apply link;
  }

  h2 {
    @apply mb-6 heading-2;
  }

  .home-cta {
    @apply inline-flex items-center px-4 py-2 no-underline transition-colors duration-300 border rounded-md text-slate-700 border-slate-700 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-400 hover:text-white;
  }
}

.blog-post-content {
  @apply text-color text-pretty;

  h1 {
    @apply mb-4 text-2xl font-bold font-title text-slate-900;
  }

  h2 {
    @apply mt-4 mb-4 text-xl font-bold font-title text-slate-900;
  }

  h3 {
    @apply mt-4 mb-4 text-lg font-bold font-title text-slate-900;
  }

  strong {
    @apply font-semibold text-color-emphasis;
  }

  p {
    @apply mb-4 leading-loose;
  }

  br {
    content: "";
    @apply block mb-2;
  }

  :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
    @apply link;
  }

  figure {
    @apply my-8;

    & > figcaption {
      @apply mt-4 italic text-center text-slate-700;
    }
  }

  pre {
    @apply p-5 my-6 -m-5 overflow-x-auto rounded-lg bg-slate-100;

    & code {
      padding-bottom: 0 !important;
    }
  }

  p > code {
    @apply px-1 py-1 text-sm border rounded-md text-nowrap;
  }

  ul {
    @apply pl-4 list-disc;
  }

  ul > li {
    @apply mb-2 leading-loose;
  }

  ol {
    @apply pl-4 list-decimal;
  }

  ol > li {
    @apply mb-2 leading-loose;
  }

  hr {
    @apply my-6;
  }

  blockquote {
    @apply py-2 pl-6 pr-4 my-6 italic border-l-4 rounded-r-sm bg-slate-50 border-slate-200 text-slate-600;

    & > p:last-child {
      @apply mb-0;
    }

    & > p em {
      @apply not-italic;
    }
  }

  .kit-form-wrapper {
    @apply my-8;

    & > hr {
      @apply my-0;
    }

    & > hr:last-child {
      @apply mt-3 mb-6;
    }
  }
}
